body {
  font-family: 'Roboto', sans-serif;
  background-color: #1B1640; 
  background: 
    linear-gradient(
    rgba(27, 22, 64, 0.904),
    rgba(27, 22, 64, 0.904)
    ),
    url(https://images.unsplash.com/photo-1506703719100-a0f3a48c0f86);
}

.nav-link {
  color: #1B1640;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.nav-symbol{
  color: #D285F2;
  font-size: 40px;
}

.nav-title{
  font-size: 20px;
}


.header-text {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* POST PREVIEW CARDS */

.pp-title {
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-weight: bold;
  /* font-size: 1.25em; */
  /* letter-spacing: 0.05em; */
  /* font-weight: bold; */
  /* text-transform: uppercase; */
  /* letter-spacing: 0.1em; */
}

.pp-image {
  object-fit: cover;
  height: 100%;
  max-height: 5em;
  width: 100%;
  border-radius: .15em;
}

.pp-card {
  background-color: #9959D9;
  color: white;
}

.pp-card-body {
  padding-top: 1.25rem;
  padding-bottom: 0em;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.pp-footer-tags {
  padding: 0rem 0rem .5rem 1.25rem;
}

.pp-footer-view {
  padding: .25rem 1.25rem .25rem 0rem;
}

.card-footer.pp-footer-view:hover {
  /* background-color: rgba(27, 22, 64, 0.5); */
  color:white;
}

/*************************/

.edit-input {
  width: 100px;
}

.brew-header {
  color: white;
}

.uparrow:hover {
  color: blue;
}

.downarrow:hover {
  color: red;
}

.upvoted {
  color: blue;
}

.downvoted {
  color: red;
}

.post-bar {
  font-size: 20px;
}

.text-gpink {
  color: #D285F2;
}

.text-gpink:hover, .nav-symbol:hover {
  text-decoration: none;
  color: #9959D9;
}

.sub-button-icon {
  padding-left: .1em;
  padding-top: .4em;
}

.sub-button:hover{
  background-color: #5246A6;
  color: black;
}

.user-img {
  max-height: 150px;
  max-width: auto;
  border-radius: 5%;
  border: 3px solid grey;
}

.galaxy-pink {
  background-color: #D285F2;
}

.galaxy-blue {
  background-color: #1B1640;
}

.galaxy-indigo {
  background-color: #332973;
}

.galaxy-purple {
  background-color: #9959D9;
}

.galaxy-lavender {
  background-color: #5246A6;
}
