.pp-image {
  height: 200px;
  width: auto;
}

.pp-card {
  background-color: #9959D9;
  color: white;
}

.brew-header {
  color: white;
}

.post-bar {
  font-size: 20px;
}

body {
  background-color: #1B1640;
  font-family: Georgia, serif;
}

.nav-symbol{
  color: #D285F2;
  font-size: 40px;
}

.nav-title{
  font-size: 20px;
}

.text-gpink {
  color: #D285F2;
}

.text-gpink:hover, .nav-symbol:hover {
  text-decoration: none;
  color: #9959D9;
}

.galaxy-pink {
  background-color: #D285F2;
}

.galaxy-blue {
  background-color: #1B1640;
}

.galaxy-indigo {
  background-color: #332973;
}

.galaxy-purple {
  background-color: #9959D9;
}

.galaxy-lavender {
  background-color: #5246A6;
}
